.Banner {
    background-color: rgb(227,24,55);
    /* margin-top: 10px; */
    height: 100px;
    position: relative;
  }
  
  .Banner h1,h2 {
    color: white;
    margin: auto;
    text-align: left;
    width: 50%;
    padding-left: 25px;
    vertical-align: bottom;
  }

  .Banner h1 {
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    font-weight: bold;
  }

  .Banner h2 {
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-40%);
    font-weight: 500;
  }

  h1 > button {
    color: whitesmoke;
    font-size: 0.85em;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    font-weight: bold;
    margin-left: 25px;
  }

  h1 > button :hover{
    color: gold;
  }

  h1 > button :active {
    transform: scale(0.95);
    color: gold;
  }
  