/* header {
    height: 100px;
    background-color: white;
}

.Navbar {
    height: 120px;
    display: flex;
    background-color: white;
}


.Navbar > .siteLogo {
    width: 25%;
    text-align: right;
    margin-right: 40px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: bold;
}

.Navbar > .siteLogo > a {
    text-decoration: none;
    color: black;
}


.Navbar > .searchComponent {
    width: 50%;
    margin-top: 25px;
}

.Navbar > .linkContainer{
    display: block;
    width: 25%;
    margin-top: 35px;
}

.Navbar > .linkContainer > .links {
    font-size: 20px;
} */