.reviewBlock {
    display: flex;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
    width: 70%;
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
}

.profilePanel {
    height: 100%;
    width: 15%;
}

.profilePanel > .profile {
    float: right;
    padding: 10px;
    margin-right: 10px;
}

.profilePanel > .profile > .background {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.reviewPanel {
    height: 100%;
    width: 55%;
    padding: 10px;
    /* border: 1px solid blue; */
}

.reviewPanel > .reviewContent {
    font-size: 16px;
    color: rgb(22, 22, 22);
    font-weight: 500;
    word-wrap: break-word;
}

.reviewPanel > .reviewFooter {
    font-size: 13px;
    font-weight: 400;
    color: rgb(22, 22, 22);
    font-style: italic;
    word-wrap: break-word;
    width: 90%;
}

.reviewPanel > .reviewFooter > p > a {
    font-weight: bold;
}

.reviewPanel > .reviewVote {
    display: flex;
}

.reviewPanel > .reviewVote > .vote > button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    width: 50px;
    height: 30px;
}

.reviewPanel > .reviewVote > .vote > button:hover {
    background-color: lightgray;
}

.scoresPanel {
    height: 100%;
    width: 30%;
    /* border: 1px solid red; */
}

.scoresPanel > .score {
    display: flex;
    /* border: 1px solid green; */
}

.scoresPanel > .tag {
    display: inline;
    margin-right: 5px;
    background-color: gray;
    border-radius: 10px;
}

.scoresPanel > .tag > p {
    display: inline;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.scoresPanel > .score > .label{
    font-weight: 600;
    width: 100px;
    color: rgb(98, 98, 98);
    word-wrap: break-word;
}

.scoresPanel > .score > .stars{
    padding-top: 15px;
    margin-left: 10px;
    display: inline;
}

