/* .Search {
    margin: auto;
    display: flex;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    height: 60px;
}

.Search > input {
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-left: 7px;
    border-radius: 5px;
    outline: none;
    border: transparent;
    background-color: rgb(241, 241, 241);
    color: rgb(32, 36, 36);
    font-size: 0.85em;
    height: 16px;
}

.Search > button {
    width: 5%;
    margin: auto;
    border-radius: 0px;
    outline: none;
    border: transparent;
    background-color: rgb(241, 241, 241);
    color: rgb(32, 36, 36);
    border-left: 3px solid lightgray;
}

.SearchResults {
    z-index: 2;
    background-color: lightgray;
    position: absolute;
    z-index: 9999;
    width: 46.5%;
}

.SearchResults > .result {
    border: 1px solid black;
    
} */