.loginForm {
     width: 60%;
     margin: auto;
     margin-top: 25px;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 1px 3px 2px 1px lightgray;
     border: 1px solid lightgray;
     display: flex;
     background-color: white;
}

.image {
    width: 50%;
}

.image > img {
    width: 100%;
    border-radius: 5px;
}

form {
    width: 50%;
    float: right;
}

table {
    width: 100%;
}

.loginForm > form > table > tbody > tr > .field {
    padding: 10px;
}

.loginForm > form > table > tbody > tr > .field > label {
    display: block;
    font-size: 1em;
}

.loginForm > form > table > tbody > tr > .field > input {
    width: 90%;
    display: block;
    height: 2em;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}

.loginForm > form > table > tbody > tr > .actionItems {
    display: block;
    text-align: center;
}

.actionItems > a {
    display: block;
}

/* button {
    width: 300px;
    height: 3em;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(227,24,55);
    color: white;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
} */

button:active {
    transform: scale(0.95);
}
