.Banner {
    background-color: rgb(227,24,55);
    height: 100px;
    position: relative;
    z-index: 0;
  }
  
  .Banner h1,h2 {
    color: white;
    margin: auto;
    text-align: left;
    width: 50%;
    vertical-align: bottom;
  }

  .Banner h1 {
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    font-weight: bold;
  }

  .Banner h2 {
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-40%);
    font-weight: 500;
  }