.Banner {
    background-color: rgb(227,24,55);
    margin-top: 10px;
    height: 75px;
    position: relative;
  }
  
  .Banner > p {
    color: white;
    margin: auto;
    text-align: left;
    width: 50%;
    padding-left: 25px;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: bottom;
  }
  