.Navbar {
    display: flex;
    margin-top: 10px;
}

.Navbar > .siteLogo {
    width: 25%;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.Navbar > .searchComponent {
    width: 50%;
    margin-top: 10px;
}

.Navbar > .links {
    display: flex;
    width: 25%;
    margin-left: 10px;
    margin-top: 10px;
}

.links > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(227,24,55);
}
